body {
    background-color: blanchedalmond;
}

h1 {
    color: rgb(8, 30, 235);
    padding-left: 40%;

}
form {
    text-align: center;
}
 input {
     margin-bottom: 10px;
 }

.success,
.error {
    color: rgb(10, 10, 10);
    padding-left: 40%;
    margin: 5px 0 20px 0;
}

.success{
    background-color: yellow;
    /* padding: 5px;
    text-align: center; */

}

.error {
    background-color: rgb(213, 238, 238);
}

